#!/usr/bin/make -f
# debian/rules for the Debian pkgconfig package.
# Copyright © 2004 Scott James Remnant <scott@netsplit.com>

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

CFLAGS = -Wall -g
ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0
else
	CFLAGS += -O2
endif
ifeq (,$(findstring nostrip,$(DEB_BUILD_OPTIONS)))
	INSTALL_PROGRAM += -s
endif

ifeq ($(TARGET),)
	TARGET := arm
endif

DEB_HOST_ARCH      ?= $(shell dpkg-architecture -qDEB_HOST_ARCH)
DEB_HOST_GNU_TYPE  ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
DEB_BUILD_GNU_TYPE ?= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)
TARGET_GNU_TYPE := $(shell dpkg-architecture -f -a$(TARGET) -qDEB_HOST_GNU_TYPE)

p := pkg-config-$(TARGET_GNU_TYPE)
p_src := pkg-config-source
d := $(CURDIR)/debian/$(p)
d_src := $(CURDIR)/debian/$(p_src)

ifeq ($(DEB_BUILD_GNU_TYPE), $(DEB_HOST_GNU_TYPE))
	confflags += --build=$(DEB_HOST_GNU_TYPE)
else
	confflags += --build=$(DEB_BUILD_GNU_TYPE) --host=$(DEB_HOST_GNU_TYPE)
endif

gencontrol:
	sed -e 's,@ARCH@,$(TARGET_GNU_TYPE),g' \
		< debian/control.in \
		> debian/control

build: build-stamp gencontrol
build-stamp:
	dh_testdir

	dh_installdirs -p$(p_src)

	# copy upstream sources
	for f in *; do \
		[ "$$f" != "debian" ] && \
			( tar --exclude='\.svn' -cf - $$f ) | \
			( cd $(d_src)/usr/src/$(p_src)/; tar xf - ); \
	done

	# copy debian/ directory
	for f in debian/{control*,copyright,docs,rules,compat,changelog,pkg-config-source.dirs}; do \
		cp -a $$f $(d_src)/usr/src/$(p_src)/debian/; \
	done

	echo "$(TARGET) $(TARGET_GNU_TYPE)"
	./configure --prefix=/usr --with-installed-glib \
		--mandir=\$${prefix}/share/man \
		--infodir=\$${prefix}/share/info --disable-shared \
		--with-pc-path=/usr/$(TARGET_GNU_TYPE)/lib/pkgconfig \
		--program-prefix=$(TARGET_GNU_TYPE)- \
		$(confflags) CFLAGS='$(CFLAGS)' 
	$(MAKE)

	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp

	-$(MAKE) -k distclean
	rm -f config.cache config.log config.status
	rm -f */config.cache */config.log */config.status
	rm -f conftest* */conftest* pkg-config-$(TARGET_GNU_TYPE).1
	rm -rf autom4te.cache */autom4te.cache $(d)

	dh_clean

# Make it as clean as svn can make it.
svnclean: clean
	rm -rf `svn propget svn:ignore`

install: build
	dh_testdir
	dh_testroot
	dh_installdirs usr/$(TARGET_GNU_TYPE)/lib/pkgconfig

	$(MAKE) prefix=$(d)/usr install
	rm -f $(d)/usr/share/aclocal/pkg.m4

# Build architecture-independent files here.
binary-indep: build install
# Nothing to do

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot

	dh_installdocs
	cp pkg-config.1 pkg-config-$(TARGET_GNU_TYPE).1
	dh_installman pkg-config-$(TARGET_GNU_TYPE).1
	dh_installchangelogs ChangeLog
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean svnclean binary-indep binary-arch binary install gencontrol
